/* universal selector */
* {
    margin: 0px;
    padding: 0px;
}

/* common styles */



/* Banner section styles */
.first-section {


    display: flex;
    justify-content: space-between;
    height: 850px;
    align-items: center;
    background-color: rgb(248, 204, 211);
    padding: 50px 200px 0px 200px;
    gap: 100px;
}

.flower-img {
    width: 600px;
    height: 800px;
}

.section-title {
    width: 700px;
    color: black;
    font-size: 80px;
    font-weight: 800;
}

.section-description {
    width: 600px;
    color: rgb(97, 94, 94);
    font-size: 18px;
    font-weight: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn-primary {
    padding: 20px 40px;
    border-radius: 10px;
    background-color: rgb(226, 14, 113);
    border: none;
    color: white;
}

/* main section styles */

.featured-title {
    text-align: center;
    font-weight: 800;
    font-size: 40px;
    margin-top: 170px;
    margin-bottom: 25px;
    color: black;
}

.featured {
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    color: rgb(148, 143, 143);
}

.featured-flower-pic {
    display: flex;
    justify-content: space-around;
    margin-left: 100px;
    margin-right: 100px;

}

.featured-img {
    width: 310px;
    height: 430px;
    padding: 110px 50px 50px 60px;

}

.flower-div {
    width: 465px;
    height: 540px;
    border-radius: 300px 300px 0px 0px;
    margin-top: 50px;
    gap: 25px;

}

.pic1 {
    background-color: rgb(231, 179, 186);
}

.pic3 {
    background-color: lightseagreen
}

.tree {
    color: black;
    text-align: center;
    font-size: 25px;
    font-weight: 700px;
    text-decoration: underline;
}

.pic2 {
    background-color: rgb(150, 216, 216);

}


/* This is 4th section styles */

.hot-deals {
    display: flex;
    justify-content: space-around;
    height: 630px;
    align-items: center;
    background-color: rgb(248, 204, 211);
    margin-top: 250px;
    padding: 100px 200px;
}

.deals-title {
    font-size: 40px;
    font-weight: 800;
    color: black;
    margin-bottom: 10px;

}

.red {
    color: rgb(221, 16, 16)
}

.deals-text {
    display: block;
}

.deals-img {
    width: 320px;
    height: 420px;
}

#sign {
    margin-top: 20px;
 
    margin-left: 220px;
}

/* This is 5th section styles */
.insta{
    text-align: center;
}
.instragram{
    margin: 100px 200px 0px 200px;
}
.img1{
    width: 320px;
    height: 350px;
    gap: 25px;
    
}
.insta-img{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 128px;
}
.input{
    height: 450px;
    background-image: url("../images/Rectangle\ 9.png");
    background-repeat: no-repeat;
    background-position: cover;
    padding: 125px  300px 0px 300px;
}
.email{
    width: 700px;
    height: 64px;
    background-color: white;
    border-radius: 10px;
    border: none;
    padding: 10px;
}
.input-info{
    margin-top: 50px;
}


/* This section is footer */

.footer-text{
    height: 350px;
    background-color: black;
    padding: 300px 200px;
    margin-top: 0px;
}
.footer-title{
    text-align: center;
    font-size: 80px;
    font-weight: 800;
    

}
.white{
    color: white;
}
.paragraph{
    color: white;
    text-align: center;
    width: 625px;
    font-size: 20px;
    font-weight: 400;
    margin-left: 430px;
    margin-top: 30px;

}
.secondp{
    color: gray;
}

/* This is bonus section styles */

.bonus{
    height: 600px;
    margin-top: 100px;
    padding: 100px;
    background-color: rgb(192, 165, 218);
}
.bonus-img{
    margin-left: 650px;
}
.violet{
    margin-left: 700px;
    margin-top: 20px;
    background-color: blueviolet;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 60px;
    padding: 5px;
    color: white;
}